mixin blocks-panel(tableId, blocks, panelTitle)
    panel.radius.mt-4(data-role="panel" data-title-caption=panelTitle data-cls-content="p-0" data-cls-title-caption="text-left enlarge-8 text-light")

        table.table.striped(id=tableId)
            thead
                tr
                    th.text-center(style="width: 50px") Status
                    th(style="width: 80px")
                        span Height
                        div.text-small Timelapse
                    th
                        span Producer
                        div.text-small Winner
                    th.text-center(style="width: 80px")
                        span Coinbase
                        div.text-small Snark
                    th.text-center(style="width: 80px") Slot
                    th.text-center(style="width: 80px") Epoch
                    th.text-center(style="width: 80px")
                        span Trans
                        div.text-small Fee
                    th(style="width: 200px")
                        soan Hash
                        div.text-small Time



            tbody
                each row, i in blocks
                    tr
                        td.text-center(style="width: 50px")
                            span.mif-stop(class=row.chain_status === 'pending' ? 'fg-cyan' : row.chain_status === 'orphaned' ? 'fg-red' : 'fg-green')

                        td
                            div
                                a.link(href=`/block/${row.state_hash}`) #{row.height}
                                div.text-muted.text-small.mt-2-minus #{row.age}

                        td
                            div
                                a.link(href=`/address/${row.creator_key}`) #{row.creator_key_short}
                            div.mt-2-minus
                                a.text-small.text-muted.no-decor(href=`/address/${row.winner_key}`) #{row.winner_key_short}

                        td.text-center
                            span.enlarge-2 #{row.coinbase}
                            div.text-small.text-muted.mt-2-minus #{row.snark_fee}

                        td.text-center
                            span.enlarge-2 #{row.slot}
                            div.text-small.text-muted.mt-2-minus #{row.global_slot}

                        td.text-center
                            span.enlarge-2 #{row.epoch}
                            div.text-small.text-muted.mt-2-minus epoch

                        td.text-center
                            span.enlarge-2 #{row.tr_applied}
                            div.text-small.text-muted.mt-2-minus #{row.trans_fee}

                        td
                            div.reduce-1
                                a.link(href=`/block/${row.state_hash}`) #{row.state_hash_short}
                            div.text-small.text-muted #{row.block_time}
