include mixins/blocks-table

include components/head
include components/appbar

div.container-fluid
    div.container
        include components/live

        div.hero.hero-padding-secondary
            div.row
                div.cell-lg-6
                    div
                        div.h1.mb-0.page-title Addresses

                    hr.thin

                    div.h3.mt-2.mb-2
                        span

                div.cell-lg-6
                    div.mb-4
                        include components/search-form


section.container-fluid
    div.container
        div.row.mt-5
            div.cell-xl-6
                div.radius(data-role="panel" data-title-caption="Stake Leaders" data-cls-content="p-0 flex-justify-start" data-cls-title-caption="text-left enlarge-8 text-light" data-title-icon="<span class='mif-coins mif-3x'></span>")
                    div
                        table.table.striped.monospace.data-table.row-hover.cell-border#top-stacks-table(
                            data-role="table"
                            data-rows=20
                            data-rownum="true"
                            data-on-draw-cell="topStackHoldersTableDrawCell"
                            data-horizontal-scroll="true"
                            data-horizontal-scroll-stop="xl"
                            data-cls-table-container="no-border"
                            data-activity-type="bars"
                            data-static="true"
                        )
                            thead
                                tr
                                    th(data-name="address") Address
                                    th.text-right(data-name="stack")
                                        span Current
                                        div.text-small Stake
                                    th.text-right(data-name="stack_next")
                                        span Next
                                        div.text-small Stake

            div.cell-xl-6
                div.radius(data-role="panel" data-title-caption="Last Blocks Winners" data-cls-content="p-0 flex-justify-start" data-cls-title-caption="text-left enlarge-8 text-light" data-title-icon="<span class='mif-medal mif-3x'></span>")
                    div
                        table.table.striped.monospace.data-table.row-hover.cell-border#last-winners-table(
                            data-role="table"
                            data-rows=20
                            data-rownum="true"
                            data-on-draw-cell="lastBlockWinnersTableDrawCell"
                            data-horizontal-scroll="true"
                            data-horizontal-scroll-stop="xl"
                            data-cls-table-container="no-border"
                            data-activity-type="bars"
                            data-static="true"
                        )
                            thead
                                tr
                                    th(data-name="address") Address
                                    th(data-name="block_height")
                                        span Block
                                        div.text-small Height
                                    th.text-right(data-name="coinbase")
                                        span Coinbase
                                        div.text-small Reward



        div.mt-4.radius(data-role="panel" data-title-caption="Scammers List" data-cls-content="p-0" data-cls-title-caption="text-left enlarge-8 text-light" data-title-icon="<span class='mif-bug mif-3x'></span>")
            div.pt-2
                table.table.striped.monospace.data-table.row-hover.cell-border#scammer-list-table(
                    data-role="table"
                    data-rows=20
                    data-rownum="true"
                    data-on-draw-cell="scammerListDrawCell"
                    data-horizontal-scroll="true"
                    data-horizontal-scroll-stop="xl"
                    data-cls-table-container="no-border"
                    data-activity-type="bars"
                    data-static="true"
                )
                    thead
                        tr
                            th(data-name="address") Address
                            th(data-name="reason") Reason

    div.mb-10 &nbsp;

include components/footer

include components/scripts

script
    include ./js/addresses.js

