include components/head
include components/appbar

div.container-fluid
    div.container
        include ./components/live

        div.hero.hero-padding-secondary.pt-5.pb-0
            div.row
                div.cell-lg-6
                    div
                        div.h1.mb-0.page-title Produced Blocks
                        div.text-leader2.
                            Discover blocks in Mina blockchain

                div.cell-lg-6
                    div.mb-4.pt-4
                        include components/search-form

div.container-fluid
    div.container
        ul.breadcrumbs.mb-0.ml-4-minus
            li.page-item
                a.page-link(href="/") Home
            li.page-item
                a.page-link(href="/blocks") Blocks

div.container-fluid.bg-lightSystem
    div.container
        div.pt-2.pb-2
            include ./components/epoch-small

div.container-fluid.mt-4
    div.container
        div
            div.row
                div.cell-xl-3.cell-lg-4.cell-ld-6
                    div.icon-box.border.bd-system.radius
                        div.icon.bg-grayMouse.fg-white
                            span.mif-apps
                        div.content.pl-2
                            div.p-2
                                div.text-upper Total
                                div.text-upper Blocks
                                div.box-value#total-blocks 0

                div.cell-xl-3.cell-lg-4.cell-ld-6
                    div.icon-box.border.bd-system.radius
                        div.icon.bg-green.fg-white
                            span.mif-apps
                        div.content.pl-2
                            div.p-2
                                div.text-upper Canonical
                                div.text-upper Blocks
                                div.box-value.fg-green#canonical-blocks 0

                div.cell-xl-3.cell-lg-4.cell-ld-6
                    div.icon-box.border.bd-system.radius
                        div.icon.bg-red.fg-white
                            span.mif-apps
                        div.content.pl-2
                            div.p-2
                                div.text-upper Orphaned
                                div.text-upper Blocks
                                div.box-value.fg-red#orphaned-blocks 0

                div.cell-xl-3.cell-lg-4.cell-ld-6
                    div.icon-box.border.bd-system.radius
                        div.icon.bg-cyan.fg-white
                            span.mif-apps
                        div.content.pl-2
                            div.p-2
                                div.text-upper Performance
                                div.text-upper coefficient
                                div.box-value.fg-cyan#eff-blocks 0

section.container-fluid.mt-4
    div.container
        ul(data-role="tabs" data-expand="true")
            li.ml-2
                a(href="#blockchain")
                    span Blockchain (
                        span.ml-1.mr-1#tab-blocks-count 0
                        span )

            li
                a(href="#zero")
                    span Zero Blocks (
                        span.ml-1.mr-1#tab-zero-count 0
                        span )

        div#blockchain

            div(style="height: 10px")
                div#load-data-activity(style="display:none" data-role="activity" data-type="metro" data-style="color")

            //div.row.text-leader.text-center
            //    div.cell-lg-3.cell-md-6
            //        span.reduce-2 Total:
            //        span.ml-2#total-blocks
            //    div.cell-lg-3.cell-md-6
            //        span.reduce-2 Pending:
            //        span.ml-2.fg-cyan#pending-blocks
            //    div.cell-lg-3.cell-md-6
            //        span.reduce-2 Canonical:
            //        span.ml-2.fg-green#canonical-blocks
            //    div.cell-lg-3.cell-md-6
            //        span.reduce-2 Orphaned:
            //        span.ml-2.fg-red#orphaned-blocks

            //hr

            div
                div.row.flex-align-start

                    div.cell-md-4
                        span.ml-1.text-muted.reduce-4.text-bold BLOCK CHAIN STATE FILTER
                        div.mt-2-minus
                            input(type="checkbox" checked data-cls-check="bg-cyan no-border" data-role="checkbox" data-caption="<span>Pending</span>" onchange="blocksApplyFilter(this, 'pending')")
                            input(type="checkbox" checked data-cls-check="bg-green no-border" data-role="checkbox" data-caption="<span>Canonical</span>" onchange="blocksApplyFilter(this, 'canonical')")
                            input(type="checkbox" checked data-cls-check="bg-red no-border" data-role="checkbox" data-caption="<span>Orphaned</span>" onchange="blocksApplyFilter(this, 'orphaned')")

                    div.cell-md-4.text-center
                        span.ml-1.text-muted.reduce-4.text-bold BLOCKS FOUND
                        div.mt-1-minus
                            span.ml-1.text-bold(style="font-size: 24px; line-height: 1")#found-blocks 0

                    div.cell-md-4
                        div.text-left-fs.text-right-md
                            button.mt-6.button.success.small(onclick="refreshBlocksTable()")
                                span RELOAD DATA
                                span.mif-refresh


                div.row.mt-2
                    div.cell-md-9
                        input#blocks-search(
                            data-role="input"
                            data-prepend="Search: "
                            placeholder="Enter block number, producer key or name, or block hash"
                            data-search-button="false"
                        )

                    div.cell-md-3
                        select(data-role="select" data-filter="false" data-prepend="Show rows: " data-on-change="blocksApplyRowsCount")
                            option(value="10") 10
                            option(value="20") 20
                            option(value="50" selected) 50
                            option(value="100") 100

                div.mt-2.scroll-table-container.border.bd-system
                    table.table.striped.data-table.monospace.row-hover#blocks-table
                        thead
                            tr
                                th(data-name="state")
                                    span.mif-link
                                th(data-name="height") Height
                                th(data-name="creator_key") Block Producer
                                th.text-center(data-name="coinbase") Coinbase
                                th.text-center(data-name="slot") Slot
                                th.text-center(data-name="epoch") Epoch
                                th.text-center(data-name="trans") Trans
                                th(data-name="state_hash") Hash
                        tbody

                div.mt-4
                    div#pagination

        div#zero
            div.row.flex-align-start

                div.cell-md-4
                    span.ml-1.text-muted.reduce-4.text-bold BLOCK CHAIN STATE FILTER
                    div.mt-2-minus
                        input(type="checkbox" checked data-cls-check="bg-cyan no-border" data-role="checkbox" data-caption="<span>Pending</span>" onchange="zeroApplyFilter(this, 'pending')")
                        input(type="checkbox" checked data-cls-check="bg-green no-border" data-role="checkbox" data-caption="<span>Canonical</span>" onchange="zeroApplyFilter(this, 'canonical')")
                        input(type="checkbox" checked data-cls-check="bg-red no-border" data-role="checkbox" data-caption="<span>Orphaned</span>" onchange="zeroApplyFilter(this, 'orphaned')")

                div.cell-md-4
                    span.ml-1.text-muted.reduce-4.text-bold BLOCKS FOUND
                    div.mt-1-minus
                        span.ml-1.text-bold(style="font-size: 24px; line-height: 1")#zero-found-blocks 0

                div.cell-md-4
                    div.text-left-fs.text-right-md
                        button.mt-6.button.success.small(onclick="refreshZeroTable()")
                            span RELOAD DATA
                            span.mif-refresh

            div.mt-4
                table.table.striped.monospace.data-table.row-hover.border.bd-system#zero-blocks-table(
                    data-role="table"
                    data-rows=50
                    data-rows-steps="-1, 10, 20, 50, 100"
                    data-rownum="true"
                    data-on-draw-cell="zeroBlocksTableDrawCell"
                    data-horizontal-scroll="true"
                    data-horizontal-scroll-stop="xl"
                    data-cls-table-container="no-border"
                    data-activity-type="bars"
                    data-filters-operator="or"
                    data-search-fields="height, creator_name, creator_key, state_hash"
                    data-table-search-placeholder="Enter block height, creator key or name, or block hash "
                )
                    thead
                        tr
                            th(data-name="chain_status")
                                span.mif-link
                            th(data-name="height" data-sortable="true" data-format="int" data-size="30")
                                span Height
                            th(data-name="creator_key")
                                span Block Producer
                                div.text-small Name
                            th.text-center(data-name="creator_name" data-show="false") Creator Name
                            th.text-center(data-name="coinbase" data-size="30") Coinbase
                            th.text-center(data-name="slot") Slot
                            th(data-name="global_slot" data-show="false") Global Slot
                            th.text-center(data-name="epoch") Epoch
                            th.text-center(data-name="trans") Trans
                            th(data-name="trans_fee" data-show="false") Trans Fee
                            th(data-name="state_hash") Hash
                            th(data-name="timestamp" data-show="false") Time



    div.mb-10 &nbsp;

include components/footer

include components/scripts

script
    include ./js/blocks.js
