include components/head
include components/appbar

div.container-fluid
    div.container
        include components/live

        div.hero.hero-padding-secondary
            div.row
                div.cell-lg-6
                    div
                        div.h1.mb-0.page-title Zero Blocks

                    hr.thin

                    div.text-leader.mt-2.mb-2
                        div.
                            In the table below you can see list of blocks with zero coinbase.


                div.cell-lg-6
                    div.mb-4
                        include components/search-form


div.container-fluid(style="background-color: #f8f8f8")
    div.container
        div.h3.mt-4.mb-0.text-light.border-bottom.bd-system.pb-2 Blockchain State
        div.pt-2.pb-2
            include ./components/epoch-small

section.container-fluid
    div.container
        div.mt-4(style="height: 10px")
            div#load-data-activity(style="display:none" data-role="activity" data-type="metro" data-style="color")
        div.mt-4
            div.radius(data-role="panel" data-title-caption="Zero Blocks ( <span id='zero-blocks-count' class='text-normal'>0</span> ) <button class='ml-auto button small success mt-2' onclick='reloadProducersTable()'>RELOAD DATA <span class='ml-1 mif-refresh'></span></span>" data-cls-content="p-0" data-cls-title-caption="enlarge-8 text-light d-flex" data-title-icon="<span class='mif-cog mif-3x'></span>")
                div.mt-4
                    table.table.striped.monospace.data-table.row-hover#zero-blocks-table(
                        data-role="table"
                        data-rows=50
                        data-rows-steps="-1, 10, 20, 50, 100"
                        data-rownum="true"
                        data-on-draw-cell="zeroBlocksTableDrawCell"
                        data-horizontal-scroll="true"
                        data-horizontal-scroll-stop="xl"
                        data-cls-table-container="no-border"
                        data-activity-type="bars"
                        data-filters-operator="or"
                        data-search-fields=""
                        data-table-search-placeholder=""
                    )
                        thead
                            tr
                                th(data-name="height" data-sortable="true" data-format="int")
                                    span Height
                                th(data-name="epoch" data-sortable="true" data-format="int")
                                    span Epoch
                                    div.text-small Slot:Global
                                th(data-name="slot" data-show="false") Slot
                                th(data-name="global_slot" data-show="false") Global Slot
                                th(data-name="creator_key")
                                    span Creator
                                    div.text-small Name
                                th(data-name="creator_name" data-show="false")
                                    span Name
                                th(data-name="timestamp" data-show="false")
                                    span Time
                                th(data-name="state_hash")
                                    span State
                                    div.text-small Hash


    div.mb-10 &nbsp;

include components/footer

include components/scripts

script
    include ./js/zero.js

