div.bg-white.p-5-fs.p-10-md.radius.bd-system.border
    div
        h3.text-muted Search in blockchain
        form(action="javascript:" onsubmit="searchInBlockchain(this.elements[0].value.trim())")
            input.input-large(
                data-role="input"
                placeholder="Enter block number, address, hash, ..."
                data-search-button="true"
                name="search_value"
            )

script.
    function searchInBlockchain(val) {
        if (!val) {
            Metro.toast.create("Please define a search request!")
            return
        }

        let target = `/search/${val}`

        if (val.substr(0, 4) === 'B62q') {
            target = `/address/${val}`
        } else if (val.substr(0, 3) === 'Ckp') {
            target = `/trans/${val}`
        } else if (val.substr(0, 2) === '3N') {
            target = `/block/${val}`
        }

        window.location.href = target
    }