div.cell-xl-3.cell-md-6
    div.icon-box.border.bd-system.radius
        div.icon.bg-grayMouse.fg-white
            span.mif-link
        div.content.pl-2
            div.p-2
                div.text-upper Block
                div.text-upper Height
                div#height.h3.m-0 #{height}

div.cell-xl-3.cell-md-6
    div.icon-box.border.bd-system.radius
        div.icon.bg-orange.fg-white
            span.mif-alarm
        div.content.pl-2
            div.p-2
                div.text-upper Current
                div.text-upper Epoch
                div#epoch.h3.m-0 #{epoch}

div.cell-xl-3.cell-md-6
    div.icon-box.border.bd-system.radius
        div.icon.bg-darkGray.fg-white
            span.mif-versions
        div.content.pl-2
            div.p-2
                div.text-upper Current
                div.text-upper Slot
                div#slot.h3.m-0 #{slot}

div.cell-xl-3.cell-md-6
    div.icon-box.border.bd-system.radius
        div.icon.bg-teal.fg-white
            span.mif-versions
        div.content.pl-2
            div.p-2
                div.text-upper Global
                div.text-upper Slot
                div#global-slot.h3.m-0 #{global_slot}

div.cell-xl-3.cell-md-6
    div.icon-box.border.bd-system.radius
        div.icon.bg-lightBrown.fg-white
            span.mif-stack
        div.content.pl-2
            div.p-2
                div.text-upper Total
                div.text-upper Transactions
                div.h3.m-0 #{totalTrans}

div.cell-xl-3.cell-md-6
    div.icon-box.border.bd-system.radius
        div.icon.bg-green.fg-white
            span.mif-layers
        div.content.pl-2
            div.p-2
                div.text-upper Applied
                div.text-upper Transactions
                div.h3.m-0 #{appliedTrans}

div.cell-xl-3.cell-md-6
    div.icon-box.border.bd-system.radius
        div.icon.bg-red.fg-white
            span.mif-layers-clear
        div.content.pl-2
            div.p-2
                div.text-upper Failed
                div.text-upper Transactions
                div.h3.m-0 #{failedTrans}

div.cell-xl-3.cell-md-6
    div.icon-box.border.bd-system.radius
        div.icon.bg-lime.fg-white
            span.mif-medal
        div.content.pl-2
            div.p-2
                div.text-upper Block
                div.text-upper Rewards
                div.h3.m-0 720 &nbsp;&bull;&nbsp; 1440

div.cell-xl-3.cell-md-6
    div.icon-box.border.bd-system.radius
        div.icon.bg-lightMauve.fg-white
            span.mif-users
        div.content.pl-2
            div.p-2
                div.text-upper Total
                div.text-upper Addresses
                div.h3.m-0 #{totalAddresses}

div.cell-xl-3.cell-md-6
    div.icon-box.border.bd-system.radius
        div.icon.bg-cyan.fg-white
            span.mif-organization
        div.content.pl-2
            div.p-2
                div.text-upper Active
                div.text-upper Producers
                div.h3.m-0 #{totalProducers}

div.cell-xl-3.cell-md-6
    div.icon-box.border.bd-system.radius
        div.icon.bg-grayBlue.fg-white
            span.mif-dollar
        div.content.pl-2
            div.p-2
                div#mina-price-update.text-small.pos-absolute.pos-top-right(style="top: 4px!important; right: 4px!important") #{price.last_updated}
                div.text-upper Mina
                div.text-upper Price
                div.h3.m-0
                    span#mina-price #{price.value}
                    span#mina-price-current.ml-1.reduce-4.text-muted.text-upper #{price.currency}

div.cell-xl-3.cell-md-6
    div.icon-box.border.bd-system.radius
        div.icon.bg-lightViolet.fg-white
            span.mif-coins
        div.content.pl-2
            div.p-2
                div.text-upper Total
                div.text-upper Supply
                div#mina-total-supply.h3.m-0 #{price.total_supply}

